*{
    margin: 0%;
    padding: 0%;
}
header{
    position: sticky;
    background-color: white;
    padding: 10px;
    padding-left: 50px;
}
.header-content{
    display: flex;
}
header h1{
    font-family: "Kdam Thmor Pro";
    color: rgb(60, 164, 50);
    font-size: 2.2rem;
}
header img{
    width: 50px;
    height: 50px;
}

.main-section{
    display: flex;
}

.main-div-left{
    width: 55%;
}
.main-div-left img{
    width: 100%;
}
.main-div-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
}
.main-div-right h2{
    color: #181818;
    text-align: center;
    font-size: 3rem;
    font-family: "Rubik";
    font-weight: 400;
}
.items-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
    background-color: rgb(60, 164, 50);
}
.items-section h1{
    width: 40%;
    text-align: center;
    font-family: "Rubik";
    font-size: 2rem;
    font-weight: 400;
    color: white;
    padding-bottom: 40px;
}

.items-section h2{
    width: 60%;
    text-align: center;
    font-family: "Rubik";
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
    padding-bottom: 70px;
}

.icon-body{
    display: flex;
}
.icon-div-big{
    display: flex;
}
.icon-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px;
    height: 70px;
    padding: 10px;
}
.icon-div img{
    width: 60%;
}

.icon-div p{
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: white;
    font-family: "Rubik";
}

.baños-section{
    padding-top: 70px;
    display: flex;
}

.div-baño{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 850px;
}
.center div{
    height: 100px;
}

.right div{
    height: 200px;
}

.div-baño img{
    height: 450px;
    padding-bottom: 30px;
}

.div-baño p{
    width: 65%;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #181818;
    font-family: "Rubik";
}

.cuartos-section{
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.cuartos-section p{
    text-align: center;
    font-family: "Rubik";
    font-size: 1.3rem;
    font-weight: 400;
}

.cuartos-section h1{
    color: rgb(60, 164, 50);
    text-align: center;
    font-family: "Rubik";
    font-size: 3rem;
    font-weight: 400;
}

.cocina-section h1{
    color: rgb(60, 164, 50);
    text-align: center;
    font-family: "Rubik";
    font-size: 3rem;
    font-weight: 400;
}

.cocina-section{
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.cocina-section p{
    text-align: center;
    font-family: "Rubik";
    font-size: 1.3rem;
    font-weight: 400;
}

@media (min-width: 1440px) {
    #tranding {
      zoom: 1.5;
    }
  }
  
  @media (min-width: 2560px) {
    #tranding {
      zoom: 1.7;
    }
  }
  
  @media (min-width: 3860px) {
    #tranding {
      zoom: 2.5;
    }
  }
  
  body {
    padding: 10px;
    font-size: 0.8rem;
    background: var(--bg);
  }
  
  .cards-wall {
    padding: 0px 0rem;
    margin: 0 auto;
  }
  
  
  #tranding {
    width: 500px;
  }
  
  @media (max-width:5040px) {
    #tranding {
      padding: 3.5rem 0;
    }
  }
  
  #tranding .tranding-slider {
    height: 22rem;
    position: relative;
  }
  
  .tranding-slide {
    width: 100%;
    height: 14rem;
    margin: 0 2.5rem;
    position: relative;
  }
  
  @media (max-width:600px) {
    #tranding .tranding-slider {
      height: auto;
      position: relative;
    }
    #tranding{
      width: 100%;
    }
    
  }
  .tranding-slide .tranding-slide-img img {
    width: 100%;
    object-fit: cover;
  }
  
  .tranding-slide .tranding-slide-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    display: none;
  }
  
  .tranding-slider-control {
    position: relative;
    bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tranding-slider-control .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
  }
  
  @media (max-width:990px) {
    .tranding-slider-control .swiper-button-next {
      left: 70% !important;
      transform: translateX(-70%) !important;
    }
  }
  
  @media (max-width:450px) {
    .tranding-slider-control .swiper-button-next {
      left: 80% !important;
      transform: translateX(-80%) !important;
    }
  }
  
  @media (max-width:990px) {
    .tranding-slider-control .swiper-button-prev {
      left: 30% !important;
      transform: translateX(-30%) !important;
    }
  }
  
  @media (max-width:450px) {
    .tranding-slider-control .swiper-button-prev {
      left: 20% !important;
      transform: translateX(-20%) !important;
    }
  }
  
  .tranding-slider-control .slider-arrow {
    background: #f2f2f2;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
  .tranding-slider-control .slider-arrow ion-icon {
    font-size: 1rem;
    color: #2C5B61;
  }
  
  .tranding-slider-control .slider-arrow::after {
    content: '';
  }
  

.contact-section{
    padding: 20px;
    background-color: #181818;
}

.contact-section h1{
    color: rgb(196, 250, 204);
    text-align: center;
    font-size: 3rem;
    font-family: "Rubik";
    font-weight: 400;
    padding-bottom: 40px;
}

.contact-body{
    display: flex;
}
.half-container-contact{
    padding: 10px
}
.half-container-contact p{
    font-size: 20px;
    color: white;
    font-family: "Rubik";
    margin: 50px;
}

.contact-section h3{
    color: #181818;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Rubik";
    font-weight: 400;
    padding-bottom: 40px;
}

.contact-footer p{
    text-align: center;
    font-size: 1.2rem;
    color: white;
    font-family: "Rubik";
    margin: 20px;
}

@media (max-width: 1100px) {
    .div-baño{
        height: auto;
        padding-bottom: 50px;
    }
    .baños-section{
        flex-direction: column;
    }
    .center div{
        height: 0px;
    }
    .right div{
        height: 0px;
    }
    .div-baño p{
        width: 45%;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        color: #181818;
        font-family: "Rubik";
    }

}
.mensaje-temporal h1{
  text-align: center;
  font-size: 1rem;
  color: red;
}

@media (max-width: 800px) {
    header{
        padding-left: 10px;
    }
    .main-section{
        flex-direction: column;
        align-items: center
    }

    .cuartos-section{
        flex-direction: column-reverse;
    }
    .cocina-section{
        flex-direction: column;
    }
    .main-div-left{
        width: 100%;
    }
    .main-div-right{
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
    }
    .main-div-right h2{
        font-size: 2rem;
    }

    .items-section{
        padding: 40px;
        padding-bottom: 70px;
    }

    .items-section h1{
        width: 100%;
        text-align: center;
        font-family: "Rubik";
        font-size: 2rem;
        font-weight: 400;
        color: white;
        padding-bottom: 40px;
    }
    
    .items-section h2{
        width: 100%;
        text-align: center;
        font-family: "Rubik";
        font-size: 1.3rem;
        font-weight: 400;
        color: white;
        padding-bottom: 70px;
    }

    .icon-body{
        flex-direction: column;
    }

    .contact-section h1{
        color: rgb(196, 250, 204);
        text-align: center;
        font-size: 2rem;
        font-family: "Rubik";
        font-weight: 400;
        padding-bottom: 40px;
    }
    .contact-body{
        display: flex;
        flex-direction: column;
    }
    .half-container-contact{
        padding: 0px;

    }
    .half-container-contact p{
        text-align: center;
        font-size: 20px;
        color: white;
        font-family: "Rubik";
        margin:  0px 50px 20px;
   }
   .contact-footer p{
    text-align: center;
    font-size: 1rem;
    color: white;
    font-family: "Rubik";
    margin: 20px;
    }
    .contact-section h3{
        
        padding-top: 20px;
        padding-bottom: 40px;
    }

}
@media (max-width: 500px) {
    .main-div-right h2{
        font-size: 1.5rem;
    }
    .icon-div{
        padding: 0px;
        padding-bottom: 10px;
    }
    .div-baño p{
        width: 85%;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        color: #181818;
        font-family: "Rubik";
    }
}
@media (max-width: 350px) {
    .half-container-contact p{
        text-align: center;
        font-size: 15px;
        color: white;
        font-family: "Rubik";
        margin:  0px 50px 20px;
   }
    .contact-footer p{
        font-size: 0.8rem;
    }
    .div-baño img{
        height: 400px;
    }
}